<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents ">
		<!-- 게시물 작성하는 곳 -->
		<div class="container list-box pt-5 mt-5 d-flex justify-content-center">
			<a href="/post/create-view" class="btn text-white mt-5 col-12" style="background-color: #405DE6;">게시물 작성 <i class="bi bi-pencil-fill"></i></a>
		</div>
		
		<div class="d-flex justify-content-start">
		</div>


		<div class="container list-box pt-1 mt-5" th:each="post:${postList}">

			<div class="card shadow-sm rounded">
			    <div class="card-header bg-white d-flex align-items-center py-3 px-3 border-0">
			        <div class="flex-grow-1 mt-2">
			            <h4 class="mb-2 fw-bold" th:text=${post.nickname}></h4>
			            <small class="text-muted">서울 동작구 상도동</small>
			        </div>
			        <button class="btn btn-sm btn-link text-dark" type="button">
			            <i class="bi bi-three-dots"></i>
			        </button>
			    </div>
			
				<div class="bg-primary d-flex justify-content-center align-items-center rounded-0">
				 	<img th:src="${post.imagePath}" style="width: 100%; height: 100%; object-fit: cover;">
				</div>
			
				<div class="card-body">
				    <div class="d-flex justify-content-between">
				        <div class="d-flex">
				        	<div class="">
					            <i class="bi bi-heart-fill" style="color: #FF3838;"></i><span> 12.4천</span>
				            </div>
				            <div class="mx-3">
				            	<i class="bi bi-chat-fill"></i><span> 405</span>
				            </div>
				            <div>
								<i class="bi bi-send-fill"></i><span> 952</span>
				            </div>
				        </div>
				        <div>
							<i class="bi bi-bookmark"></i>
				        </div>
				    </div>

				    <div class="card-text mb-0 mt-2">
				        <div class="font-weight-bold" th:text="${post.nickname}" ></div><span th:text="${post.contents}">날씨가 좋아서 오늘 밤 산책을 나왔어요</span>
				    </div>

				    <div class="comment mt-3">
						<div class="d-flex">
							<span class="font-weight-bold mr-2">zz@naver.com</span>
							<span>ㅋㅋ오 ㅋㅋ 이쁘네요</span>
						</div>
						<div class="d-flex">
							<span class="font-weight-bold mr-2">Wonhoon__zz</span>
							<span>어쩌라고 ㅋ</span>
						</div>
						<div class="input-group d-flex mt-3">
	                       	<input type="text" class="form-control">
	                        <div class="input-group-append"> <!-- input-group-append : 클래스에 넣으면 옆에 붙혀줌-->
	                            <button class="btn text-white" type="button" style="background-color: #405DE6;">입력</button>
	                        </div>
						</div>
					</div>
				</div>
			</div>
			
		</div>




	</section>
</html>