<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<section layout:fragment="contents" class="contents ">
		<!-- 게시물 작성하는 곳 -->
		<div class="container list-box pt-5 mt-5 d-flex justify-content-center">
			<a href="/post/create-view" class="btn text-white mt-5 col-12" style="background-color: #405DE6;">게시물 작성 <i class="bi bi-pencil-fill"></i></a>
		</div>
		
		<div class="d-flex justify-content-start">
		</div>


		<div class="container list-box pt-1 mt-5" th:each="post:${postList}">

			<div class="card shadow-sm rounded">
			    <div class="card-header bg-white d-flex align-items-center py-3 px-3 border-0">
			        <div class="flex-grow-1 mt-2">
			            <h4 class="mb-2 fw-bold" th:text=${post.nickname}></h4>
			            <small class="text-muted">서울 동작구 상도동</small>
			        </div>
			        <button class="btn btn-sm btn-link text-dark" type="button" id="deleteBtn">
			            <i th:if="${post.userId == session.userId}" class="bi bi-three-dots"  th:data-post-id="${post.id}"></i>
			        </button>
			        <!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
					  Launch demo modal
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
			        
			    </div>
			
				<div class="bg-primary d-flex justify-content-center align-items-center rounded-0">
				 	<img th:src="${post.imagePath}" style="width: 100%; height: 100%; object-fit: cover;">
				</div>
			
				<div class="card-body">
				    <div class="d-flex justify-content-between">
				        <div class="d-flex">
				        	<div class="">                                  <!-- 이거 dto 에서 가져오는거임 -->
					            <i th:unless="${post.isLike}" class="bi bi-heart heart-icon" th:data-post-id="${post.id}" style="color: #FF3838;"></i><i th:if="${post.isLike}" class="bi bi-heart-fill text-danger"></i> <span><span th:text="${post.likeCount}"></span>개</span>
				            </div>
				            <div class="mx-3">
				            	<i class="bi bi-chat-fill"></i><span> 405</span>
				            </div>
				            <div>
								<i class="bi bi-send-fill"></i><span> 952</span>
				            </div>
				        </div>
				        <div>
							<i class="bi bi-bookmark"></i>
				        </div>
				    </div>

				    <div class="card-text mb-0 mt-2">
				        <div class="font-weight-bold" th:text="${post.nickname}" ></div><span th:text="${post.contents}">날씨가 좋아서 오늘 밤 산책을 나왔어요</span>
				    </div>

				    <div class="comment mt-3">
				    	<div>
							<div class="d-flex" th:each="comment:${post.commentList}">
								<span th:text="${comment.nickname}" class="font-weight-bold mr-2">사용자 닉네임 들어가야할 부분</span>
								<span th:text="${comment.contents}">댓글 들어가야할 부분</span>
							</div>
						</div>
						
						<div class="input-group d-flex mt-3">			<!-- 아이디가 commentInput 뒤에 딱 붙어서 적용됨 -->
	                       	<input type="text" class="form-control" th:id="|commentInput${post.id}|">
	                        <div class="input-group-append">
	                            <button class="btn text-white comment-btn" type="button" style="background-color: #405DE6;" th:data-post-id="${post.id}">입력</button>
	                        </div>
						</div>
					</div>
				</div>
			</div>
			
		</div>




	</section>
	
	
	<script layout:fragment="script">
	
	
		// 이미지 파일 아이콘 클릭했을 때 이미지 파일 찾기 열리기
		$("#imageInput").on("click", function(){
			//아이콘 이미지태그에 #imageInput 태그 넣기
			
		})
	
	
	
	
	
	
		$(".more-icon").on("click", function(){
			// 해당 게시물의 프라이머리 키를 심어야한다.
			// #deleteBtn 에 data-post-id 속성에 대상 게시글의 post id 를 지정

			let postId = $(this).data("post-id");
			
			$("#deleteBtn").data("post-id", postId);

			
			$.ajax({
				type:"delete"
				, url:"/post/delete"
				, data:{"id":postId}
				, success:function(response) {
					if(response.result == "success") {
						location.reload();
					} else {
						alert("삭제 실패");
					}
				}
				, error:function() {
					alert("삭제 에러");
				}
			})
			
			
			
			
		})
		
	
		
		$(".comment-btn").on("click", function(){
			let postId = $(this).data("post-id");
			
			//이벤트가 발생한 그 바로 앞의 태그를 가져올 수ㅠ 있다
			//let comment = $(this).prev().val();
			
			let comment = $("#commentInput" + postId).val();
			
			$.ajax({
				type:"post"
				, url:"/post/comment/create"
				, data:{"postId":postId, "contents":comment}
				, success:function(response) {
					if(response.result == "success") {
						location.reload();
					} else {
						alert("댓글 작성 실패!");
					}
					
				} 
				, error:function(){
					alert("댓글 작성 에러!");
				}
			})
		})
	
	
	
	
	
		$(".heart-icon").on("click", function(){
			let postId = $(this).data("post-id");
			
			$.ajax({
				type:"post"
				, url:"/post/like"
				, data:{"postId":postId}
				, success:function(response) {
					if(response.result == "success") {
						location.reload();
					} else {
						alert("좋아요 클릭 실패!");
					}
				}
				, error:function() {
					alert("좋아요 에러!");
				}
			})	
			
		})
	
	
	
	
	
	
	
	</script>
	
	
	
</html>