<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>sns 회원가입</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

	<div id="wrap">
	
		<header class="bg-success d-flex justify-content-center">
			<i class="bi bi-instagram"></i>
		</header>
		
		<section class="contents">
		
			<div class="user-box user-bg bg-dark">
			
			</div>
		
		</section>
		
		
		<footer class="bg-primary"></footer>
	
	</div>




</body>
</html>