<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="user-box memo-bg my-5 p-5"> 
			<h1 class="text-center">Instagram</h1>
			<h4 class="text-center mt-4">친구들의 사진과 동영상을<br>보려면 가입하세요.</h4>
			<button type="button" class="btn btn-primary btn-block mt-5" id="facebookBtn"><small><i class="bi bi-facebook"></i> Facebook으로 로그인</small></button>
			<div class="input-group mt-5">
				<input type="text" class="form-control" id="idInput" placeholder="휴대폰 번호 또는 이메일 주소">
				<button class="btn btn-outline-primary" type="button" id="duplicateBtn">중복확인</button>
			</div>
			<div id="duplicateText" class="small text-danger d-none">중복된 아이디 입니다.</div>
			<div id="availableText" class="small text-success d-none">사용 가능한 아이디 입니다.</div>
			<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
			<input type="password" class="form-control mt-2" id="passwordConfirmInput" placeholder="비밀번호 확인">
			<input type="text" class="form-control mt-2" id="nameInput" placeholder="성명">
			<input type="text" class="form-control mt-2" id="nicknameInput" placeholder="사용자 이름">
			<p>
			<div class="text-center mt-5"><small>저희 서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram 에 업로드 했을 수도 있습니다. <br><a href="https://www.facebook.com/help/instagram/261704639352628" target="_blank">더 알아보기</a></small></div>
			<button type="button" class="btn btn-primary btn-block mt-3" id="joinBtn"><small>가입하기</small></button>	
		</div>
	</section>
	
	<script layout:fragment="script">
	
	
	
	
	
	// 전역변수 활용 . 정보공유
	// 중복확인 여부 관리 변수
	var checkDuplicate = false;
	
	// 아이디 중복 여부 관리 변수
	var isDuplicateId = true;
	
	
	
	$("#idInput").on("input", function() {
		// 입력내용이 바꼈을 때 ?
		// 중복확인 과정 초기화
		// 중복확인을 하지 않은 상태로 돌려놓기 초기화 하기
		checkDuplicate = false;
		isDuplicateId = true;
		
		$("#duplicateText").addClass("d-none");
		$("#availableText").addClass("d-none");
	})
	
	
	
	
	
	
 	$("#duplicateBtn").on("click", function(){
		
		let id = $("#idInput").val();
		
		if(id == "") {
			alert("아이디를 입력해주세요");
			return;
		}
		
		$.ajax({
			tpye:"get"
			, url:"/user/duplicate-id"
			, data:{"loginId":id}
			, success:function(response) {
				checkDuplicate = true;
				
				isDuplicateId = response.isDuplicate;
				
				if(response.isDuplicate) {
					// 중복됨
					$("#duplicateText").removeClass("d-none");
					$("#availableText").addClass("d-none");
				} else {
					// 중복안됨
					$("#availableText").removeClass("d-none");
					$("#duplicateText").addClass("d-none");
				}
			}
			, error:function() {
				alert("중복확인 에러!");
			}
		})
		
		
	}) 
		
	
	
	
	
	
	
	
		$("#joinBtn").on("click", function(){
			
			let id = $("#idInput").val();
			let password = $("#passwordInput").val();
			let passwordConfirm = $("#passwordConfirmInput").val();
			let name = $("#nameInput").val();
			let nickname = $("#nicknameInput").val();
			
			if(id == ""){
				alert("아이디를 입력하세요.");
				return;
			}
			
			
			
			// 아이디 중복 확인
			if(!checkDuplicate) {
				//중복확인을 안했으면 
				alert("아이디 중복확인을 해주세요.");
				return;
			}
			
			// 아이디 중복 여부 파악
			if(isDuplicateId) {
				alert("아이디가 중복되었습니다");
				return;
			}
			
			if(password =="") {
				alert("비밀번호를 입력하세요.");
				return;
			}
			
			if(password != passwordConfirm){
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}
			
			if(name =="") {
				alert("성명을 입력하세요.");
				return;
			}
			
			if(nickname == "") {
				alert("사용자 이름을 설정해주세요.");
				return;
			}
			
			
			$.ajax({
				type:"post"
				, url:"/user/join"
				, data:{"loginId":id, "password":password, "name":name, "nickname":nickname}
				, success:function(response) {
					if(response.result == "success") {
						location.href = "/user/login-view";
					} else {
						alert("회원가입 실패!");
					}
				}
				, error:function() {
					alert("회원가입 중 에러발생!");	
				}
			})
			
			
			
		})
	
	
	
	
	
	
	
	</script>

</html>