@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}



header {
	height:100px;
}

.bi-instagram {
	font-size:20px;
}






footer {
	height:100px;
}


.contents > .user-box {
	width:400px;
	
}
.contents > .list-box {
	width:1000px;
	
	
}

.contents > .input-box {
	width:1100px;
}







